{{> commons/header}}
{{#replMessage}}
    <h2 class="message" id="not_en_mon">{{replMessage}}Click <a href='/replenish'>here</a> to replenish</h2>
{{/replMessage}}
{{#message}}
    <h2 class="message">{{message}}</h2>
{{/message}}
{{> commons/footer}}