{{> commons/header}}
<h3 class="reg-header">Registration</h3>
{{#message}}
    <h3 style="text-align: center; color: darkred">{{message}}</h3>>
{{/message}}
<form action="/registration" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <table class="reg-table">
        <tr class="reg-row">
            <td class="reg-node">Login:</td>
            <td>
                <input name="username" class="reg-inp"/>
            </td>
        </tr>
        <tr class="reg-row">
            <td class="reg-node" id="inppass">Password:</td>
            <td>
                <input class="reg-inp" type="password" name="password"/>
            </td>
        </tr>
        <tr class="reg-row">
            <td class="reg-node">Phone:</td>
            <td>
                <input name="phone" class="reg-inp"/>
            </td>
        </tr>
        <tr class="reg-row">
            <td class="reg-node">Address:</td>
            <td><input name="address" class="reg-inp"/></td>
        </tr>
        <tr class="reg-row">
            <td class="reg-node">Email:</td>
            <td>
                <input name="email" class="reg-inp"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="reg-btn" type="submit" value="Register"
                       onmouseover="this.style.background= 'dodgerblue'" onmouseout="this.style.background='darkblue'"/>
            </td>
        </tr>
    </table>
</form>
{{> commons/footer}}